img{
	width: 400px;
	display: block;
    margin: 0 auto;
    margin-top: 15rem;
}

form {
    text-align: center;
}

input {
	font-size: 20px;
	font-family: sans-serif;
	padding: 10px;
	margin: 10px;
}

input[type="submit"] {
	border-radius: 5px;
	background-color: #cccccc;
	border: 1px solid #cccccc;
	color: #000000;
	cursor: pointer;
	margin-top: 20px;
}

input[type="submit"]:hover {
	border: 1px solid #333333;
}

#mysearchbar {
	width: 700px;
	border-radius: 25px;
	border-width: 1px;
	margin-top: 2rem;
}